<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LINQS.BristolWavemeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="BristolWMTest01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <LINQS.BristolWavemeter.Properties.Settings>
            <setting name="WavemeterCOMPort" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="AnalogInputPiezo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalogOutputPiezo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WavelengthHistoryLength" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AcquisitionPeriod" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8087</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>LINQS.Wavemeter</value>
            </setting>
            <setting name="LockThreshold" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="G" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Kp" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Kd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ki" serializeAs="String">
                <value>0.001</value>
            </setting>
        </LINQS.BristolWavemeter.Properties.Settings>
        <BristolWMTest01.Properties.Settings>
            <setting name="WavemeterCOMPort" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="AnalogInputPiezo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalogOutputPiezo" serializeAs="String">
                <value>0</value>
            </setting>
        </BristolWMTest01.Properties.Settings>
    </userSettings>
</configuration>
